* {
    padding: 0;
    margin: 0;
}
.container {
    height:100vh;
    background-image:linear-gradient(rgba(10, 105, 223, 0.8),
    rgba(0, 105, 233, 0.829)),url(../images/image-background.jpg);
     background-position: center;   
     background-size: cover;
     font-family: sans-serif;
}

.menu-bar { 
    display: flex;
    height: 12%;
}

.menubar-left {
    flex-basis: 70%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menubar-right {
    flex-basis: 30%;
    background: white;
}

.menubar-right ul {
    float: right;
    padding: 10px 50px 0 50px;
}

.menubar-right li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.menubar-right img {
    width: 24px;
}

.menubar-inner{
    display: flex;
    align-items: center;
    padding: 10px 50px 0 50px; 
}

.menubar-inner ul {
    margin-left: 20px;
    z-index: 2;
}
.menubar-inner li{
    margin: 0 10px;
    display: inline-block;
}
.menubar-inner a{
    text-decoration: none;
    color: whitesmoke;
}

.content{
    display: flex;
    height: 88%;

}
.content-left{
    flex-basis: 70%;
    position: relative;
}
.content-right{
    flex-basis: 30%;
    position: relative;
    background: white;
}

.uppertext{
    left: 15%;
    top: 20%;
    position: absolute;
    color: lightblue;
    opacity: .5;
}
.uppertext h1{
    font-size: 150px;
    margin-left: 150px;
    line-height: 90px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;

}
.uppertext h2{
    font-size: 90px;

}

